{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block content %}
  <h1>Sign Up</h1>
  <div>
    <form method="POST" action="{{ url_for('register') }}">
      <label for="username"></label>Username:
      <input name="username" id="username" type="text">
       <label for="password"></label>Password:
      <input name="password" id="password" type="password">
       <label for="confirm-password"></label>Confirm Password:
      <input name="confirm-password" id="confirm-password" type="password">
      <button type="submit">Register</button>
    </form>
  </div>
{% endblock %}